.container{
    max-width: 2000px !important;
    width: 100%;
    margin: 0 auto;
}








/* MEDIA */


@media (max-width: 1450px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 260px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
}
@media (max-width: 1200px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
    .header__content-title{
        font-size: 43px;
    }
    .header-ex-img{
        display: none;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 300px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
@media (max-width: 992px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
    .header__content-title{
        font-size: 38px;
    }
    
    .header__content-description {
        font-size: 20px;
        line-height: 28px;
    }
    .header-img{
       width: 100%;
    }
    
    
}
@media (max-width: 900px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
    .header__content-title{
        font-size: 38px;
    }
    
    .header__content-description {
        font-size: 20px;
        line-height: 28px;
    }
    .header-img{
       width: 100%;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 250px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    div.highway-slider ul.highway-lane {
        display: flex;
        height: 67%;
    }
    section.slide-option {
        margin: 0px 0 -20px 0;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
    .header-content{
        flex-direction: column;
        align-items: center !important;
    }
    .header-content-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__content-title{
        font-size: 42px;
        line-height: 40px;
        max-width: 400px;
        width: 100%;
        text-align: center;
        
    }
    
    .header__content-description {
        font-size: 27px;
        line-height: 26px;
        max-width: 600px;
        width: 100%;
        text-align: center;
    }
    .header__content-img,
    .header-img{
       width: 94%;
       position: relative;
    }
    .header__content-btn{
        position: absolute;
        bottom: -90px;
        z-index: 1000;
    }

    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 290px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.highway-slider ul.highway-lane {
        display: flex;
        height: 67%;
    }
    section.slide-option {
        margin: 0px 0 -20px 0;
    }
    
    
  
}
@media (max-width: 680px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
   

    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 270px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  
}
@media (max-width: 638px) {
    .container{
        max-width: 100% !important;
        width: 100%;
        margin: 0 auto;
    }
   

    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 237px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  
}
@media (max-width: 576px) {
    .container{
        max-width: 100% !important;
       
    }
    .nav-toggle::after{
        display: block;
        padding-left: 20px;
    }
    .header__content-img,
    .header-img{
       width: 100%;
       left: -12px;
       position: relative;
    }
    .header__content-btn{
        position: absolute;
        bottom: -15px;
        z-index: 1000;
        font-size: 14px;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 220px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
}
@media (max-width: 530px) {
    .container{
        max-width: 100% !important;
       
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 400px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
}
@media (max-width: 520px) {
    .container{
        max-width: 100% !important;
       
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 400px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
}
@media (max-width: 480px) {
    .container{
        max-width: 100% !important;
       
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 350px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
}
@media (max-width: 450px) {
    .container{
        max-width: 100% !important;
       
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 330px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
}

@media (max-width: 425px) {
    .container{
        max-width: 100% !important;
       
    }
    .header{
        padding: 60px 15px 0px 15px;
    }
    .header__content-title {
        font-size: 36px;
        line-height: 35px;
    }
    .header__content-description {
        font-size: 21px;
        line-height: 26px;
       
    }
    .header__content-btn {
        position: relative;
        bottom: -165px;
        z-index: 1000;
        font-size: 13px;
    }
    .header-ex-img{
        display: block;
    }
    .header__content-img,
    .header-ex-img{
      width: 120%;
      left: -80px;
      top: -80px;
    }
    .header-img{
        display: none;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 280px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section.slide-option {
        margin: 5px 0 0px 0;
    }
    div.highway-slider ul.highway-lane {
        display: flex;
        height: 70%;
    }
    #infinite div.highway-barrier {
        background: none;
        box-shadow: none ;
    }
    
    
}
@media (max-width: 375px) {
    .container{
        max-width: 100% !important;
       
    }
    .header__content-title {
        font-size: 42px;
        line-height: 40px;
    }
    .header__content-description{
        font-size: 19px;
        line-height: 17px;
        
    }
    .header__content-img, .header-ex-img {
        width: 127%;
        left: -100px;
        top: -80px;
    }
    .header__content-btn {
        position: relative;
        bottom: -165px;
        z-index: 1000;
        font-size: 13px;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 260px !important;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 320px) {
    .container{
        max-width: 100% !important;
       
    }
    .header__content-img, .header-ex-img {
        width: 127%;
        left: -100px;
    }
    .header__content-title {
        font-size: 33px;
        line-height: 40px;
    }
    .header__content-description{
        font-size: 19px;
        line-height: 17px;
        width: 100%;
        margin-bottom: 10px;
    }
    .header__content-img, .header-ex-img {
        width: 150%;
        left: -136px;
        top: -50px;
    }
    .header__content-btn {
        position: relative;
        bottom: -165px;
        z-index: 1000;
        font-size: 13px;
        padding: 20px;
    }
    .slide-main-work{
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
        box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
        border-radius: 25px;
        width: 226px !important;
        height: 228px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
}