.main{
    padding-bottom: 200px;
}

/* .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: 0px !important;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0px 0px 0px 50px !important;
} */


.cl{
    padding: 0px !important;
    margin: 0px !important;
}